<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

#PHP_FLAG register_globals ON
PHP_VALUE mysql.default_charset UTF8
php_value magic_quotes_gpc 0